@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Raleway";
    box-sizing: border-box;
  }
  
  .btn--Homepage > .el-button span {
    font-size: 1.5rem;
  }
  
  .el-carousel__container > .el-carousel__arrow {
    height: 0rem;
    width: 0rem;
    font-size: 4rem;
  }
  
  .el-carousel__container > .el-carousel__arrow--right {
    right: 10rem;
  }
  
  .el-carousel__container > .el-carousel__arrow--left {
    left: 10rem;
  }
  
  .image--Homepage {
    height: 12.5rem;
    width: 12.5rem;
  }
  
  .h1--Homepage {
    color: var(--bluee);
  }
  
  .p--Homepage {
    color: var(--grey);
  }
  
  .card--HomePage > .el-card {
    border: none;
  }
  
  .border--Footer {
    border-top: 1px solid var(--secondgrey);
  }
  
  .first-div--Contact {
    background-color: var(--bluee);
  }
  
  .button--Contact span {
    font-size: 1.5rem;
  }
  
  .el-form-item__content .el-button--large {
    padding: 1.7rem;
  }
  
  .el-form-item__content .el-button {
    border-radius: 1rem;
  }
  
  .select--Contact > .select-trigger .el-input__inner {
    font-size: 1.5rem;
  }
  
  .el-form-item__content .el-textarea__inner,
  .el-form-item__content .el-input__inner {
    font-size: 1.5rem;
  }
  
  .el-form-item__content .el-textarea span {
    font-size: 1.2rem;
  }
  
  .el-form-item__content .el-form-item__error {
    font-size: 1.5rem;
  }
  
  .h1--Services {
    color: var(--bluee);
  }
  
  .h4--Services {
    color: var(--grey);
  }
  
  .card-h1--Services {
    color: rgb(0, 0, 0);
  }
  
  .image--Services {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 10rem;
  }
  
  .butn--Services .el-button--large {
    padding: 2rem;
    border: 1px solid var(--bluee);
    background-color: white;
    color: var(--bluee);
  }
  
  .butn--Services span {
    font-size: 1rem;
  }
  
  .card--Services > .el-card {
    border: none;
  }
  
  .h1--Products {
    color: var(--bluee);
  }
  
  .h3--Products:hover {
    color: var(--bluee);
  }
  
  .image--Products {
    height: 5.5rem;
    width: 10rem;
  }
  
  .image--Products:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  }
  
  .i--Products {
    color: var(--green);
  }
  
  .el-tabs .el-tabs__item.is-disabled {
    cursor: text;
  }
  
  .main--Products .el-tabs,
  .main--Products .el-tabs .el-tabs__header,
  .main--Products .el-tabs .el-tabs__item.is-top.is-active,
  .main--Products .el-tabs .el-tabs__item.is-top {
    border: none;
  }
  
  .main--Products .el-tabs .el-tabs__header {
    background-color: white;
  }
  
  .h1-card--Products {
    color: var(--bluee);
  }
  
  .p-card--Products {
    color: var(--grey);
  }
  
  .border--Product {
    border-top: 1px solid var(--border-color);
    margin: 5rem auto;
  }
  
  .card-image--Products {
    width: 20.906rem;
    height: 15.404rem;
  }
  
  .card--Tabs > .el-card {
    border: none;
  }
  
  .icon--Tabs {
    background-color: var(--bluee);
    border-radius: 1.5rem;
    padding: 0.5rem;
    color: white;
  }
  
  .second-i--Products {
    color: var(--blue);
  }
  
  .third-i--Products {
    color: var(--orange);
  }
  
  .scroll-image--Products {
    position: fixed;
    bottom: 6rem;
    right: 5rem;
    z-index: 100;
    display: none;
    cursor: pointer;
  }
  
  #menu ul {
    color: var(--grey);
  }
  
  #menu ul li:hover {
    border-bottom: 4px solid var(--bluee);
  }
  
  @media (max-width: 400px) {
    .card--HomePage > .el-card {
      width: 100%;
      text-align: center;
    }
  
    .h4--Services {
      margin: auto 2rem;
    }
  
    .card--Services > .el-card {
      width: 100%;
      text-align: center;
    }
  
    .Shopping-cart--Homepage {
      display: flex;
      flex-direction: column;
      text-align: start;
      padding: 1rem 1rem;
      gap: 2rem;
    }
  
    .second-image--Homepage {
      width: 100%;
    }
  
    .second-h1--Homepage {
      font-size: 2.5rem;
      text-align: center;
    }
  
    .h2--Homepage {
      font-size: 1.8rem;
    }
    .card--HomePage {
      gap: 5rem;
    }
    .main-cart--HomePage {
      margin-top: 7rem;
    }
  
    .h1--Products {
      font-size: 1.5rem;
    }
    .h3--Products {
      font-size: 1rem;
    }
  
    .third-div--Products {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .card--Tabs {
      display: flex;
      flex-direction: column;
    }
    .card--Tabs > .el-card {
      width: 100%;
    }
    .p-card--Products {
      text-align: center;
    }
  
    .scroll-image--Products {
      position: fixed;
      bottom: 1.5rem;
      right: 0.5rem;
      z-index: 100;
      display: none;
      cursor: pointer;
    }
  
    .product-name--Products {
      font-size: 2rem;
    }
  
    .label-name--Tabs {
      font-size: 2rem;
    }
  
    .main-div--Tabs > .el-tabs .el-tabs__header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 500px) {
    .menu-class--Header > #menu{
      width: 100%;
      left: 100%;
    }
  }
  @media (max-width: 800px) {
    #header {
      position: absolute;
      top: 1rem;
      right: 2rem;
      width: 3.5rem;
      height: 3.5rem;
      background-color: var(--bluee);
      border-radius: 0.5rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
    }
  
      #header::before {
        content: "";
        position: absolute;
        width: 1.563rem;
        height: 0.2rem;
        background: #fff;
        transform: translateY(-0.625rem);
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    
      #header::after {
        content: "";
        position: absolute;
        width: 1.563rem;
        height: 0.2rem;
        background: #fff;
        box-shadow: 0 0.625rem 0 0;
        color: #fff;
        transition: 0.4s;
      }
  
    .active#header::before {
      transform: rotate(45deg);
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    .active#header::after {
      transform: rotate(-45deg);
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow: none;
    }
  
    #menu {
      position: fixed;
      top: 0;
      left: -18rem;
      width: 18rem;
      height: 100vh;
      background: var(--bluee);
      z-index: 10;
      padding-top: 1rem;
    }
    #menu ul {
      position: relative;
      margin-top: 3.125rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 0rem;
      height: auto;
    }
    #menu ul li {
      list-style: none;
      color: white;
      padding: 15px 40px;
      font-size: 1.5rem;
      font-weight: 600;
      cursor: pointer;
    }
    .active#menu {
      left: 0;
    }
    .el-carousel__container {
      height: 20rem !important;
    }
  
    .image--Carousel {
      width: auto;
      height: 15rem;
    }
    .main-div--Carousel {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 20rem;
      padding: 0.5rem;
    }
  
    .second-div--Carousel {
      display: flex;
      gap: 0.5rem;
    }
  
    .main-div--Carousel .second-div--Carousel h1 {
      font-size: 1.5rem;
      text-align: center;
    }
    .main-div--Carousel .second-div--Carousel div {
      font-size: 1rem;
      text-align: center;
    }
    .card--HomePage {
      margin-top: 3rem;
    }
  
    .btn--Homepage {
      padding: 0rem;
    }
    .btn--Homepage > .el-button .el-button--large {
      padding: 1rem 1rem;
    }
    .btn--Homepage > .el-button span {
      font-size: 1.2rem;
    }
  
    .btn--Homepage > .el-button span i {
      width: 1.3rem;
      height: 1.3rem;
    }
  
    .Form--Contact {
      margin: auto 2rem;
    }
  
    .select--Contact > .select-trigger .el-input__inner {
      font-size: 1rem;
    }
  
    .el-form-item__content .el-textarea__inner,
    .el-form-item__content .el-input__inner {
      font-size: 1rem;
    }
  
    .el-form-item__content .el-textarea span {
      font-size: 0.7rem;
    }
  
    .el-form-item__content .el-form-item__error {
      font-size: 1rem;
    }
  
    .span--Contact {
      font-size: 1rem;
    }
    .label_div--Contact {
      font-size: 1.5rem;
    }
  
    .button--Contact span {
      font-size: 1.2rem;
    }
  
    .el-form-item__content .el-button--large {
      padding: 1.3rem;
    }
    .h1--Products {
      font-size: 1.5rem;
    }
    .h3--Products {
      font-size: 1rem;
    }
  
    .third-div--Products {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .card--Tabs {
      display: flex;
      flex-direction: column;
    }
    .card--Tabs > .el-card {
      width: 100%;
    }
    .p-card--Products {
      text-align: center;
    }
  
    .scroll-image--Products {
      position: fixed;
      bottom: 1.5rem;
      right: 0.5rem;
      z-index: 100;
      display: none;
      cursor: pointer;
    }
  
    .product-name--Products {
      font-size: 2.25rem;
    }
  
    .label-name--Tabs {
      font-size: 2rem;
    }
  
    .main-div--Tabs > .el-tabs .el-tabs__header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image--Tabs {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (max-width: 991px) {
    .el-carousel__container > .el-carousel__arrow {
      display: none;
    }
    .card--HomePage > .el-card {
      width: 15rem;
      text-align: center;
    }
  
    .card--Services > .el-card {
      width: 15rem;
      text-align: center;
    }
  
    .Shopping-cart--Homepage {
      display: flex;
      flex-direction: column;
      text-align: start;
      padding: 1rem 1rem;
      gap: 2rem;
    }
  
    .second-image--Homepage {
      width: 100%;
    }
  
    .second-h1--Homepage {
      padding: 0rem 1rem;
      font-size: 2.5rem;
      text-align: center;
    }
    .first-div--Products {
      display: flex;
      gap: 2.5rem;
      flex-direction: column;
      text-align: start;
      padding: 1rem 1rem;
    }
  
    .second-div--Products {
      display: flex;
      justify-content: space-between;
    }
  
    .second-div--Products h1 {
      margin: 0rem;
    }
    .second-div--Products h3 {
      margin: 0rem;
    }
  }
  
  @media (max-width: 1100px) {
    .el-carousel__container > .el-carousel__arrow--right {
      right: 2rem;
    }
    .main-div--Carousel {
      padding: 5rem auto;
      gap: 4em;
    }
  
    .el-carousel__container > .el-carousel__arrow--left {
      left: 2rem;
    }
    .card--HomePage > .el-card {
      width: 20rem;
      text-align: center;
    }
    .Shopping-cart--Homepage {
      display: flex;
      flex-direction: column;
      text-align: start;
      padding: 1rem 1rem;
      gap: 2rem;
    }
    .second-image--Homepage {
      width: 100%;
    }
  }
  
  @media (min-width: 1101px) {
    .card--HomePage > .el-card {
      text-align: center;
    }
  }